<!-- assets/javascripts/discourse/templates/admin/moodle_api_settings.html.haml -->

{{moodle-api-settings}}

<h2>{{i18n "discourse_moodle_users.enabled"}}</h2>

<div>
  <label>{{i18n "discourse_moodle_users.moodle_api_token"}}</label>
  {{input value=dmu_moodle_api_token placeholder=(i18n "discourse_moodle_users.moodle_api_token")}}
</div>

<div>
  <label>{{i18n "discourse_moodle_users.moodle_api_url"}}</label>
  {{input value=dmu_moodle_api_url placeholder=(i18n "discourse_moodle_users.moodle_api_url")}}
</div>

<button class="btn btn-primary" {{action "saveSettings"}}>{{i18n "save"}}</button>

